@tailwind base;
@tailwind components;
@tailwind utilities;

header .mobile-menu.open {
  visibility: visible;
  animation: mobile-menu-in 0.5s linear forwards;
}

header .mobile-menu.animate-close {
  animation: mobile-menu-out 0.5s linear forwards;
}

header .mobile-menu.close {
  visibility: hidden;
}

@keyframes mobile-menu-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes mobile-menu-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
